<%= render 'stock/lookup' %>

<div class="container">
  <h3>Popular Stocks</h3>
  <table class="table table-hover">
    <thead class="thead-inverse">
        <th>Ticker</th>
        <th>Name</th>
        <th>Current Price</th>
        <th>One Year Estimate</th>
        <th>Estimated Return</th>
    </thead>
    <tr>
      <td>AAPL</td>
      <td>Apple</td>
      <td>$<%= Stock.new_stock_lookup("AAPL").current_price %></td>
      <td>$<%= Stock.new_stock_lookup("AAPL").one_year_estimate %></td>
      <td><%= Stock.new_stock_lookup("AAPL").percent_change.round(4) * 100 %>%</td>
    </tr>
    <tr>
      <td>AMZN</td>
      <td>Amazon</td>
      <td>$<%= Stock.new_stock_lookup("AMZN").current_price %></td>
      <td>$<%= Stock.new_stock_lookup("AMZN").one_year_estimate %></td>
      <td><%= Stock.new_stock_lookup("AMZN").percent_change.round(4) * 100 %>%</td>
    </tr>
    <tr>
      <td>TSLA</td>
      <td>Tesla</td>
      <td>$<%= Stock.new_stock_lookup("TSLA").current_price %></td>
      <td>$<%= Stock.new_stock_lookup("TSLA").one_year_estimate %></td>
      <td><%= Stock.new_stock_lookup("TSLA").percent_change.round(4) * 100 %>%</td>
    </tr>
    <tr>
      <td>FB</td>
      <td>Facebook</td>
      <td>$<%= Stock.new_stock_lookup("FB").current_price %></td>
      <td>$<%= Stock.new_stock_lookup("FB").one_year_estimate %></td>
      <td><%= Stock.new_stock_lookup("FB").percent_change.round(4) * 100 %>%</td>
    </tr>
    <tr>
      <td>MSFT</td>
      <td>Microsoft</td>
      <td>$<%= Stock.new_stock_lookup("MSFT").current_price %></td>
      <td>$<%= Stock.new_stock_lookup("MSFT").one_year_estimate %></td>
      <td><%= Stock.new_stock_lookup("MSFT").percent_change.round(4) * 100 %>%</td>
    </tr>
    <tr>
      <td>DIS</td>
      <td>Disney</td>
      <td>$<%= Stock.new_stock_lookup("DIS").current_price %></td>
      <td>$<%= Stock.new_stock_lookup("DIS").one_year_estimate %></td>
      <td><%= Stock.new_stock_lookup("DIS").percent_change.round(4) * 100 %>%</td>
    </tr>
    <tr>
      <td>BAC</td>
      <td>Bank Of America</td>
      <td>$<%= Stock.new_stock_lookup("BAC").current_price %></td>
      <td>$<%= Stock.new_stock_lookup("BAC").one_year_estimate %></td>
      <td><%= Stock.new_stock_lookup("BAC").percent_change.round(4) * 100 %>%</td>
    </tr>
    <tr>
      <td>GOOG</td>
      <td>Alphabet</td>
      <td>$<%= Stock.new_stock_lookup("GOOG").current_price %></td>
      <td>$<%= Stock.new_stock_lookup("GOOG").one_year_estimate %></td>
      <td><%= Stock.new_stock_lookup("GOOG").percent_change.round(4) * 100 %>%</td>
    </tr>
    <tr>
      <td>NFLX</td>
      <td>Netflix</td>
      <td>$<%= Stock.new_stock_lookup("NFLX").current_price %></td>
      <td>$<%= Stock.new_stock_lookup("NFLX").one_year_estimate %></td>
      <td><%= Stock.new_stock_lookup("NFLX").percent_change.round(4) * 100 %>%</td>
    </tr>
    <tr>
      <td>BA</td>
      <td>Boeing</td>
      <td>$<%= Stock.new_stock_lookup("BA").current_price %></td>
      <td>$<%= Stock.new_stock_lookup("BA").one_year_estimate %></td>
      <td><%= Stock.new_stock_lookup("BA").percent_change.round(4) * 100 %>%</td>
    </tr>

  </table>
</div>
